<header class="page-header">
  <div class="container">
    <a class="logo" href="/index.html">
      <img src="/images/intuitive-coding-logo.png"/>
    </a>

    <p class="page-header-icons">
      <a href="https://twitter.com/zacharybluedorn" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://github.com/zacharybluedorn" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </p>

    {% unless page.layout == 'index' %}
      {% include share.html %}
    {% endunless %}
  </div>
</header>
