<script type="text/javascript" src="/javascript/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.fp.min.js"></script>

<script type="text/javascript" src="/javascript/ic.js"></script>

{% if page.layout == 'post' %}
  <script type="text/javascript" src="/javascript/affix.js"></script>
  <script type="text/javascript" src="/javascript/post.js"></script>
{% endif %}

{% if page.url == '/' %}
  <script src="/javascript/typing-preview.js"></script>
  <script>
    $(function(){
        $("#typed").typed({
          strings: [
            "learn to code.^700 <br/>change the world."
          ],
          typeSpeed: 50
        });
    });
  </script>
{% endif %}
