<section class="toc-component">
  <div class="container">
    <article class="toc-section toc-section--web">
      <div class="toc-heading">
        <i class="fa fa-code"></i>
        <h3>
          <a href="/introduction.html">What is coding?</a>
        </h3>
        <small>
          <span>10</span> lessons
        </small>
        <em>
          For <strong>beginners</strong>, whether you want to build apps or get a job as a coder
        </em>
      </div>
      <ol class="toc-content">
        {% for post in site.posts reversed %}
          {% capture currentsection %}{{ post.section }}{% endcapture %}
          {% if currentsection == "elm" %}
            <!-- {% capture currentmonth %}{{ post.date | date: "%m" }}{% endcapture %} -->
            <!-- {% if currentmonth != month %} -->
              <li class="toc-month">
                <a href="{{ post.url }}">
                  <em>{{currentmonth}}</em>
                  {{ post.title | strip_html }}
                </a>
              </li>
              <!-- {% capture month %}{{currentmonth}}{% endcapture %} -->
            <!-- {% else %} -->
              <li>
                <a href="{{ post.url }}" {%if page.url == post.url %} class="active"{% endif %}>
                  {{ post.title }}
                </a>
              </li>
            <!-- {% endif %} -->
          {% endif %}
        {% endfor %}
      </ol>
    </article>

    <article class="toc-section toc-section--html5">
      <div class="toc-heading">
        <i class="fa fa-play-circle"></i>
        <h3>
          <a href="/html-basics.html">Our first app</a>
        </h3>
        <small>
          <span>12</span> lessons
        </small>
        <em>
          Want to make apps? Let's <strong>build</strong> something
        </em>
      </div>
      <ol class="toc-content">
        {% for post in site.posts reversed %}
          {% capture currentsection %}{{ post.section }}{% endcapture %}
          {% if currentsection == "app-building" %}
            {% capture currentmonth %}{{ post.date | date: "%m" }}{% endcapture %}
            {% if currentmonth != month %}
              <li class="toc-month">
                <a href="{{ post.url }}">
                  <em>{{currentmonth}}</em>
                  {{ post.title | strip_html }}
                </a>
              </li>
              {% capture month %}{{currentmonth}}{% endcapture %}
            {% else %}
              <li>
                <a href="{{ post.url }}" {%if page.url == post.url %} class="active"{% endif %}>
                  {{ post.title }}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ol>
    </article>

    <article class="toc-section toc-section--css3">
      <div class="toc-heading">
        <i class="fa fa-usd"></i>
        <h3>
          <a href="/css-basics.html">Solving problems</a>
        </h3>
        <small>
          <span>29</span> lessons
        </small>
        <em>
          Want to get a <strong>job</strong>?<br><br>There's a lot to learn, so let's get started.
        </em>
      </div>
      <ol class="toc-content">
        {% for post in site.posts reversed %}
          {% capture currentsection %}{{ post.section }}{% endcapture %}
          {% if currentsection == "solving-problems" %}
            {% capture currentmonth %}{{ post.date | date: "%m" }}{% endcapture %}
            {% if currentmonth != month %}
              <li class="toc-month">
                <a href="{{ post.url }}">
                  <em>{{currentmonth}}</em>
                  {{ post.title | strip_html }}
                </a>
              </li>
              {% capture month %}{{currentmonth}}{% endcapture %}
            {% else %}
              <li>
                <a href="{{ post.url }}" {%if page.url == post.url %} class="active"{% endif %}>
                  {{ post.title }}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ol>
    </article>

    <!-- <article class="toc-section toc-section--sass">
      <div class="toc-heading">
        <i class="fa fa-rocket"></i>
        <h3>
          <a href="/sass.html">Sass</a>
        </h3>
        <small>
          <span>5</span> lessons
        </small>
        <em>
          For the <strong>smart and lazy</strong>
        </em>
      </div>
      <ol class="toc-content">
        {% for post in site.posts reversed %}
          {% capture currentsection %}{{ post.section }}{% endcapture %}
          {% if currentsection == "sass" %}
            {% capture currentmonth %}{{ post.date | date: "%m" }}{% endcapture %}
            {% if currentmonth != month %}
              <li class="toc-month">
                <a href="{{ post.url }}">
                  <em>{{currentmonth}}</em>
                  {{ post.title | strip_html }}
                </a>
              </li>
              {% capture month %}{{currentmonth}}{% endcapture %}
            {% else %}
              <li>
                <a href="{{ post.url }}" {%if page.url == post.url %} class="active"{% endif %}>
                  {{ post.title }}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ol>
    </article>-->
  </div>
</section>
