---
layout: default
route: post
comments: true
---

<main class="page-container">
  <section class="heading">
    <div class="container">
      <h1>
        <em>{{ page.date | date: "%m.%-d" | remove_first: '0' }}</em>
        {{ page.title }}
      </h1>
      <h2>{{ page.subtitle }}</h2>
    </div>
  </section>

  <div class="page-content">
    <div class="container">
      <div class="breadcrumb-holder">
        <header id="breadcrumb" class="breadcrumb">
          <a id="open" class="breadcrumb-toggle">
            <span></span>
            <span></span>
            <span></span>
          </a>

          <span class="breadcrumb-section">
            {% case page.section %}
            {% when "elm" %}
              <i class="fa fa-code"></i>
            {% when "app-building" %}
              <i class="fa fa-play-circle"></i>
            {% when "solving-problems" %}
              <i class="fa fa-usd"></i>
            {% endcase %}
            {{ page.section }}
          </span>

          {% if page.next %}
            <a class="breadcrumb-next" href="{{ page.next.url }}">
              <i class="fa fa-angle-right"></i>
              <span>Next article</span>
            </a>
          {% endif %}

          {% if page.previous %}
            <a class="breadcrumb-previous" href="{{ page.previous.url }}">
              <i class="fa fa-angle-left"></i>
              <span>Previous article</span>
            </a>
          {% endif %}
        </header>
      </div>

      <nav id="menu" class="menu">
        <ul></ul>
      </nav>

      {% if page.example %}
      <article class="content">
        <div id="{{ page.example }}"></div>
        <script src="javascript/{{ page.example }}.js"></script>
        <script>Elm.Main.embed(document.querySelector('#{{ page.example }}'))</script>
      </article>
      {% endif %}

      <article class="content">
        {{ content }}
      </article>

      <nav class="pagination">
        {% if page.previous %}
          <a class="pagination-previous" href="{{ page.previous.url }}">
            <em>&larr; Previous</em>
            <strong>{{ page.previous.title }}</strong>
          </a>
        {% endif %}

        {% if page.next %}
          <a class="pagination-next" href="{{ page.next.url }}">
            <em>Next &rarr;</em>
            <strong>{{ page.next.title }}</strong>
          </a>
        {% endif %}
      </nav>

      {% if page.comments %}
        <h1 style="font-size: 24px;padding-left:30px;padding-top:30px">Ask a simple question. Get a simple answer.</h1>
        <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//intuitivecoding.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>
  </div>
</main>

<a id="top" class="elevator">
  <i class="fa fa-angle-up"></i>
  <span>Back to top</span>
</a>
